body {
  font-family: arial, sans-serif;
  background-color: #fdffcd;
}
.dark {
  background: -webkit-linear-gradient(
    180deg,
    rgb(4, 3, 24) 29%,
    rgb(10, 6, 79) 76%
  );
  background: -moz-linear-gradient(
    180deg,
    rgb(4, 3, 24) 29%,
    rgb(10, 6, 79) 76%
  );
  background: linear-gradient(180deg, rgb(4, 3, 24) 29%, rgb(10, 6, 79) 76%);
  padding: 20px;
  border: 1px solid #a7bcb9;
  box-shadow: 5px 5px 10px rgb(0 0 0 / 10%);
  border-radius: 10px;
  color: beige;
}
h1 {
  font-size: 40px;
  font-weight: 100;
  line-height: 28px;
  margin-bottom: 5px;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
  margin: 0;
  padding: 0;

  font-size: 16px;
  font-weight: 100;
  line-height: 19px;
}
li:first-letter {
  text-transform: capitalize;
}
a {
  text-decoration: none;
}

.weather-app-wrapper {
  max-width: 600px;
  margin: 30px auto;
}
.light {
  padding: 20px;
  border: 1px solid #a7bcb9;
  border-radius: 10px;
  box-shadow: 5px 5px 10px rgb(0 0 0 / 10%);
  background: linear-gradient(-45deg, #a6e4e7, #ebcbae, #f286e2, #681d7a);
  background-size: 400% 400%;
  animation: gradient 10s ease infinite;
  color: #5c5470;
}
@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
.overview {
  margin-bottom: 20px;
}
.weather-temperature img {
  margin-right: 5px;
  margin-bottom: 40px;
  height: 80px;
  width: 80px;
}
.weather-temperature strong {
  font-size: 70px;
  line-height: 1;
  font-weight: 400;
}
.weather-temperature .units {
  position: relative;
  font-size: 16px;
  top: -34px;
}
.indicators {
  padding-left: 100px;
}
.weather-temperature .active {
  cursor: default;
}

.weather-forecast {
  text-align: center;
  margin-top: 10px;
}
.weather-forecast-date {
  font-size: 16px;
}
.weather-forecast-temp {
  font-size: 13px;
}
.btn-toggle {
  display: block;
  margin: 0 auto;
  border-radius: 5px;
  color: #5c5470;
  box-shadow: 5px 5px 10px rgb(0 0 0 / 10%);
  border-color: white;
  background-color: #ffb5b5;
  padding: 5px;
  margin-top: 5px;
}
